# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# .NET / MAUI
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.pdb

# IDE
.idea/
*.swp
.vscode/

# OS
.DS_Store
Thumbs.db

# Maya Binary files
*.mb

# Markdown documentation files
*.md

